* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    overflow: hidden;
    color: #000;
}

#app {
    display: flex;
    width: 100vw;
    height: 100vh;
}

#map {
    width: 70%;
    height: 100%;
}

#sidebar {
    width: 30%;
    height: 100%;
    overflow-y: auto;
    background: #fff;
    padding: 20px;
}

.day-title {
    font-size: 28px;
    margin-bottom: 20px;
    font-weight: bold;
}

.card {
    background: #f0f0f0;
    border-radius: 10px;
    padding: 14px;
    margin-bottom: 14px;
    transition: all ease 0.3s;
    cursor: pointer;
}

.card:hover{
    box-shadow: #ddd 0 0 5px 5px;
    background-color: #ddd;
}

.card-item {
    margin-bottom: 8px;
    line-height: 1.5;
}

.card-item:last-child {
    margin-bottom: 0;
}

.highlight {
    color: #007cba;
    font-weight: bolder;
}